<a href="https://colab.research.google.com/github/SmetaDe/ttp-summer-2023/blob/main/Intro_to_PythonIII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditionals

## The 'if' Statement

In [1]:
night = False

In [2]:
type (night)

bool

In [3]:
# if (something) -> them do something... if not-> then do something else

In [4]:
if night:
  print("It's night. Sleeping")
else:
    print("It's day. Being active.")
    print("out of the if statement")

It's day. Being active.
out of the if statement

In [5]:
a, b, c = 100, 50, 20
if a > b and b > c:
  print (f"{a} greater then{c}")
  # if the value of variable 'a' is greater than 'b' and 'b' is greater than 'c', the code will print "100 greater than 20".

100 greater then20

In [6]:
data = input("Do you have the keys?(yes/no)")
if data.lower()== "yes":
  print("String the car")
else:
  print("Car cannot start without the keys")
  # Using if or else statement to print yes/no

Do you have the keys?(yes/no)
Car cannot start without the keys

In [8]:
data = input("Please enter the current hour (0-23): ")
hour = int(data)
if hour < 12:
    print(f"It's {hour} am")
else:
    print(f"It's {hour-12} pm")
    # Using int() and assigned to the variable hour

Please enter the current hour (0-23): 4
It's 4 am

#### Nested if Statements

In [10]:
pet_store = ['cat', 'dog', 'rabbit']
has_cat_food = True

if 'cat' in pet_store:
    print("Alright! they have a cat for me")

    if has_cat_food:
        print('Buying cat and cat food')

    else:
        print('Buying the cat only')
        # more code inside the else block
    # more code

else:
    print('Ask pet store to get cat')

Alright! they have a cat for me
Buying cat and cat food

#### More on indentation!

In [11]:
if True:
    print("This is part of the if statement")
print("The if statement has finished")
    # print("Not allowed")

This is part of the if statement
The if statement has finished

In [13]:
if 5 > 3:
    print("This is part of expression 1")

    if 10 > 5:
        print("This is part of expression2")

    print("This is also part of expression 1")

print("This is not part of any if statement")
    # print("This is not allowed")

This is part of expression 1
This is part of expression2
This is also part of expression 1
This is not part of any if statement

#### The 'if_elif_else' statement

In [14]:
age = int(input("Please enter your age: "))

if age < 18:
    print("You are a minor")
elif age < 21:
    print("You are an adult but cannot drink alcohol")
elif age < 35:
    print("You are younger than 35")
else:
    print("You are an adult")

print("If statement finished")

Please enter your age: 4
You are a minor
If statement finished

#### Shortand if statement

In [ ]:
a, b = 50, 20

In [ ]:
if a > b: print("a > b")

a > b

In [ ]:
print ("a > b") if a > b else print("b > a")

a > b

In [ ]:
max = a if a > b else b
print (max)

50

#### The pass keyword

In [ ]:
has_cat = False

if has_cat: #This means --> if has_cat == true
  pass
else:
  print("You should get a cat")

You should get a cat

In [ ]:
has_dog = True

if has_dog:
  print("Awesome!")
else:
  pass

Awesome!

#### Practice

In [15]:
import random

In [17]:
nb = random.randint(0, 100) # Importing the 'random' module
print(f"Number {nb} is even") if nb % 2 == 0 else print(f"Number {nb} is odd")
## Using a conditional expression to check if 'nb' is even or odd, and printing the corresponding message

Number 75 is odd

In [18]:
numb = int(input('Please enter a number from 0-100: '))

print(f"Number {numb} is even") if numb % 2 == 0 else print(f"Number {numb} is odd")

Please enter a number from 0-100: 6
Number 6 is even

In [19]:
### question one
client_purchases = {
    "Client1": ["hammer", "nails", "saw"],
    "Client2": ["screwdriver", "wrench"],
    "Client3": ["paintbrush", "roller"],
}

def has_purchased_hammer(client):
    if client in client_purchases:
        purchases = client_purchases[client]
        return "hammer" in purchases
    return False

client_name = "Client1"
if has_purchased_hammer(client_name):
    print(f"{client_name} has purchased a hammer.")
else:
    print(f"{client_name} has not purchased a hammer.")

Client1 has purchased a hammer.

#### Loops

## The `for` Loop

In [21]:
animals = ['cat', 'dog', 'horse']
for animal in animals:
    print(f"There is a {animal}")
    # # Printing a formatted string indicating the presence of each animal

There is a cat
There is a dog
There is a horse

In [22]:
for letter in 'pineapple': ## Iterating over each character in the string 'pineapple'
    print(letter.upper())

P
I
N
E
A
P
P
L
E

In [23]:
for number in range(0, 20, 2):
    print(f"{number} is an even number")
    ## Printing a formatted string indicating that the current number is even

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number

####break and continue

In [25]:
for number in range(0, 20, 2): ## Iterating over a range of numbers from 0 to 20 (exclusive), incrementing by 2
    print(f"{number} is an even number")
    if number == 10:
        print("On ho! Not 10") ## Checking if the current number is equal to 10
        break
print("Next steps in out code")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
On ho! Not 10
Next steps in out code

In [26]:
for number in range(0, 20, 2): # Iterating over a range of numbers from 0 to 19 (inclusive) with a step of 2
    if number == 10:
        print("We are not executing 10")
        continue
    print(f"{number} is an even number")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
We are not executing 10
12 is an even number
14 is an even number
16 is an even number
18 is an even number

####Practice

In [27]:
for i in range(0, 10): # Looping through the range of numbers from 0 to 9 (10 is exclusive)
    print("Hello for loop")

Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop

In [28]:
sum = 0 # Initializing a variable 'sum' with value 0
for number in range(0, 101):
    if number % 10 == 0:
        continue
    sum += number # Add the current number to the 'sum' variable
print(f"The sum is {sum}")

The sum is 4500

In [29]:
customers = {
    'Alice': 4,
    'Judy': 8,
    'Anna': 6
}
for customer in customers:
  # Accessing the value associated with the current key and printing a formatted string
    print("{} has made {} purchases".format(customer, customers[customer]))

Alice has made 4 purchases
Judy has made 8 purchases
Anna has made 6 purchases

####Using else with for Loops

In [30]:
numbers1 = [1, 5, 9, 5, 7, 3]
numbers2 = [2, 8, 6, 2, 4, 10]

for number in numbers2:
    if number % 2 == 0:
        print("List contains at least 1 even number")
        # Printing a message indicating the presence of an even number
        break
else:
    print("The list does not contain any even numbers")

List contains at least 1 even number

####Nested Loops

In [31]:
for x in range(6):
    for y in range(6):
        print(f"{x} * {y} = {x * y}")
        # Printing the multiplication table for x and y

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [32]:
size = 5
# Outer loop iterates over values from 0 to size-1 for the x-coordinate
for x in range(size):
    for y in range(size):
        print(f"{x},{y}\t\t", end='')
    print()

0,0		0,1		0,2		0,3		0,4
1,0		1,1		1,2		1,3		1,4
2,0		2,1		2,2		2,3		2,4
3,0		3,1		3,2		3,3		3,4
4,0		4,1		4,2		4,3		4,4

In [33]:
for x in range(size):
    for y in range(size):
        if (x + y) % 2:
            print("\U0001F600\t", end='')
        else:
            print("\U0001F60D\t", end='')
    print()

😍	😀	😍	😀	😍
😀	😍	😀	😍	😀
😍	😀	😍	😀	😍
😀	😍	😀	😍	😀
😍	😀	😍	😀	😍

####The while Loop

In [35]:
i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

In [36]:
puzzle_pieces = 20
pieces_placed = 0
# A while loop that continues until the number of pieces placed is equal to the total number of puzzle pieces
while pieces_placed < puzzle_pieces:
    pieces_placed += 1
    print(f"Piece {pieces_placed} placed")

Piece 1 placed
Piece 2 placed
Piece 3 placed
Piece 4 placed
Piece 5 placed
Piece 6 placed
Piece 7 placed
Piece 8 placed
Piece 9 placed
Piece 10 placed
Piece 11 placed
Piece 12 placed
Piece 13 placed
Piece 14 placed
Piece 15 placed
Piece 16 placed
Piece 17 placed
Piece 18 placed
Piece 19 placed
Piece 20 placed

####Using else with while Loops

In [37]:
i = 1
while i < 10:
    i += 3
    if i % 2 == 0:
        print("Sequence contains an even number")
        break
else:
    print("Sequence does not contain an even number")

Sequence contains an even number

####A bit of Practice

In [38]:
i = 0
while i < 10:
    i += 1
    print(f"{i}. Hello while loop")

1. Hello while loop
2. Hello while loop
3. Hello while loop
4. Hello while loop
5. Hello while loop
6. Hello while loop
7. Hello while loop
8. Hello while loop
9. Hello while loop
10. Hello while loop

In [39]:
cats = ['Tigger', 'Smokey', 'Sassy', 'Patch', 'Sammy']
i = 0
while i < len(cats):
    print(f"Hello {cats[i]}")
    i += 1

Hello Tigger
Hello Smokey
Hello Sassy
Hello Patch
Hello Sammy

In [40]:
number = int(input("Please enter a number:\n"))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print(f"{number}! = {factorial}")

Please enter a number:
5
5! = 120

In [41]:
i = 0
while True:
    print(i)
    i += 1
    if i >= 10:
        break

0
1
2
3
4
5
6
7
8
9