<a href="https://colab.research.google.com/github/SmetaDe/ttp-summer-2023/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## String & the print() function

In [1]:
print('Hi there')
# In this line I am using the print() method to print "hi there" to the user!

Hi there

In [ ]:
print ("There are two types of slashes: \\ and /")
# The code is a Python program that prints a sentence explaining the existence of two types of slashes: backslash () and forward slash (/). It uses a backslash as an escape character to display a literal backslash in the output.

There are two types of slashes: \ and /

In [ ]:
print ("""
      This is a tabbed line
This is a regular line
""")
# In this line two lines of code is printed. The first line is indented with a tab character, while the second line is not indented. And the triple quotation marks are used for multiple strings.

      This is a tabbed line
This is a regular line

In [ ]:
print("\n\tThis is a tabbed line\nThis is a regular line")
#The first line is indented with a tab character, and the second line is not indented. The "\n" represents a new line, and "\t" represents a tab character.

	This is a tabbed line
This is a regular line

In [ ]:
print("first name" + ' last name')
#The code is combining two strings, "first name" and 'last name', and then printing the result to the console. Both single ( '') and double (" ") quotation marks can be used to define strings.

first name last name

## Variables

In [2]:
dogs = 3
cats = "Many fluffy cats"
#There are two variables: cats and dogs. Dogs are assigned the value 3. And cats are assigned the string “Many fluffy cats”.

In [ ]:
dogs
#Since dogs are assigned the value 3. It will print 3.

3

In [ ]:
cats
#Since cats are assigned the string “Many fluffy cats”. It will print Many fluffy cats.

'Many fluffy cats'

In [ ]:
type(dogs)
#Dogs are type int because 3 is an integer.

int

In [ ]:
type(cats)
#Cats are type str because “Many fluffy cats” is a string.

str

In [ ]:
print(dogs)
#Since dogs are assigned a value at the beginning. It will print the value of dogs.

3

In [ ]:
hi = "Hello "
name = " John"
print(hi + name)
# hi is assigned the string “Hello”. And name is assigned the string “John”. The ‘+’  operator is used to combine the two strings together, resulting in the output "Hello John".

Hello  John

In [ ]:
more_dogs = 5

print(dogs + more_dogs)
# In the previous code we assigned dogs the value 3 and since the value for more_dogs is 5. 3+5 is equal to 8.

8

In [ ]:
price = 19.99
amount = 3

In [ ]:
print(price * amount)
# The code is multiplying the values of the variables price and amount together and then printing the result

59.97

In [ ]:
# Variable re_assignment
dogs = "New value"

print(dogs)
# Dogs are assigned a new string "New value" So now it will print the new variable.

New value

In [ ]:
cats, dogs, rabbits = 2, 5, "cute"

print(dogs)
# The line cats, dogs, rabbits = 2, 5, "cute" is using multiple assignments to assign the values. So, after this line, cats will have the value 2, dogs will have the value 5, and rabbits will have the value "cute". So print(dogs) will output the value of the dogs variable, which is 5.

5

# More String

#Indexing

In [3]:
greeting = 'hello world!'

In [4]:
greeting
# greeting is assigned the string ‘hello world!’. Therefore greeting itself is printing hello world!.

'hello world!'

In [5]:
print(greeting[4])
# it prints the character at index 4 of the greeting string. String indices start from 0, so greeting[4] refers to the fifth character of the string

o

In [6]:
# The 3rd, the 5th, and/or the 19th

In [12]:
greeting= 'How are you'
# greeting is assigned new sting "How are you"

In [13]:
greeting
# It's printing the new variable

'How are you'

In [15]:
print(greeting[3])
# prints the character at index 3

In [16]:
print(greeting[5])
# prints the character at index 5

r

In [17]:
print(greeting[19])
# There is no charater at index 19 so it's showing error

IndexError: ignored

In [ ]:
greeting[11]

In [ ]:
greeting

In [ ]:
greeting[11]

#String Formatting

In [ ]:
price = 55.99

In [ ]:
message = "The product costs " + str(price) + " dollars"

In [ ]:
message
# The code creates a variable named price with a value of 55.99, and a variable named message. The message variable contains a string that states "The product costs" followed by the value of price converted to a string, and finally "dollars". The resulting value of message is "The product costs 55.99 dollars".

'The product costs 55.99 dollars'

#The .format() method!

In [ ]:
msg = "the product cost {} dollars".format(price)

In [ ]:
msg
#The code assigns a string to the variable msg. It uses the format() method to insert the value of the variable price into the string. The format(price) portion replaces the placeholder {}  with the string representation of the price variable.

'the product cost 55.99 dollars'

In [20]:
amount = 3
price = 55.99
# The variable amount is set to 3, and the variable price is set to 55.99
total = amount * price
# The variable total is calculated by multiplying amount and price

In [21]:
msg2 = 'For {} products at the price of {}, the total will be: {}'
# The string msg2 is defined with placeholders to represent the values that will be inserted later.

In [22]:
print(msg2.format(amount, price, total))
# The format() method is used to insert the values of amount, price, and total into msg2, and the resulting string is printed. The string msg3 is defined with numbered placeholders. The format() method is used to insert the values of price, total, and amount into msg3, and the resulting string is printed.

For 3 products at the price of 55.99, the total will be: 167.97

In [ ]:
msg3 = "For {2} products at a price of {0}, the total is {1}"

In [ ]:
print(msg3.format(price, total, amount))
#The line msg3 = "For {2} products at a price of {0}, the total is {1}" defines a string variable msg3 with placeholders for values at specific positions. The placeholders {0}, {1}, and {2} will be replaced with the values of price, total, and amount respectively when using the format() method.

For 3 products at a price of 55.99, the total is 167.97

#### The 'f-string Method!

In [ ]:
price = 19.99
items = 3
# sets the price variable to 19.99 and the items variable to 3.

In [ ]:
msg = f'This individual product is {price}'

In [ ]:
msg
# it creates a string msg using an f-string, where the expression {price} is replaced with the value of the price variable. The resulting value of msg is "This individual product is 19.99".

'This individual product is 19.99'

In [ ]:
msg2 = f'The total for your purchase is {price * items}'

In [ ]:
msg2
# The expression {price * items} within the f-string calculates the total purchase price by multiplying the price and items variables.

'The total for your purchase is 59.97'