<a href="https://colab.research.google.com/github/SmetaDe/ttp-summer-2023/blob/main/Intro_to_PythonII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Operators

In [ ]:
is_day = True
is_night = False

print(is_day)
# is_day is assigned true so it's printing the assigned value.

True

## Comparison Operators

In [ ]:
x, y = 9, 25

In [ ]:
print(x == y) # is x equal to y. Since 9 is not equal to 25 it's printing false.

False

In [ ]:
print(x !=y) # its not equal to. Since 9 is not equal to 25 it's printing TRUE.

True

In [ ]:
print(x > y) # x is not greater than y.

False

In [ ]:
print(x < y) # X is less than y.

True

In [ ]:
print(x >= y) # x is  more than or equal to y.

False

In [ ]:
print(x <=y) # x is less than or equal to y.

True

## Logical operator

#### The and operator

In [ ]:
x

9

In [ ]:
y

25

In [ ]:
print(x > 5 and y < 30) # x is more than 5 and y is less than 30.  it's true.
print(x > 10 and y < 30) # x is more than 10 and y is less than 30. It's false

True
False

#### The or operator

In [ ]:
print(x > 5 or y > 30)
print(x > 5 or y > 30)
 # x is more than 5 and y is more than 30. since the first one is correct it's true.

True
True

# Collection Data Types

## Lists

In [ ]:
numbers = [3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
print(numbers)
print(numbers[1])
print(numbers[-1])
# [1] refers to the element at index 1. And [-1] refers to the last element.

[3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
7
3

In [ ]:
names = ["Alice", "Bob", "Carol", "Dan"]
print(names[0])
print(names[2])
#[0] refers to the first element and [2] refers to the 2nd element

Alice
Carol

In [ ]:
print( names[0][1])
# the code prints the first element of the list, the third element of the list, and the character at index 1 of the first element

l

In [ ]:
print(names[-1])
print(names[-3])
# negative numbers count starts from the end.

Dan
Bob

In [ ]:
print(names[1:3])
# printing the names form 1 up to 3 but not including 3.

['Bob', 'Carol']

In [ ]:
print(names[0:4])
# the ending index is exclusive

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
print(names[0:-1])
# Not included [-1]

['Alice', 'Bob', 'Carol']

In [ ]:
print(names[0:])
# includes everything in the list

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
names = ['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
print(names)
name[1] = 'Bobby'
print(names)

['Alice', 'Bob', 'Carol', 'Dan']

NameError: ignored

In [ ]:
#Task: Create a list of 10 numbers

In [ ]:
lst = []
counter = 11
for x in range(10):
  counter -= 1
  lst.append(input(f"Enter The {counter} items:"))
print(lst)

Enter The 10 items:mango1
Enter The 9 items:mango2
Enter The 8 items:mango3
Enter The 7 items:mango4
Enter The 6 items:mango5
Enter The 5 items:mango6
Enter The 4 items:mango7
Enter The 3 items:mango8
Enter The 2 items:mango9
Enter The 1 items:mango10
['mango1', 'mango2', 'mango3', 'mango4', 'mango5', 'mango6', 'mango7', 'mango8', 'mango9', 'mango10']

#### Nested Lists

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] # 3*3 matrix

In [ ]:
print(matrix) # prints all the matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(matrix[1][2])
# refers to the value at the second row, third column, which is 6.

6

In [ ]:
print(matrix[2][0])
# refers to the value at the third row, first column, which is 7.

7

In [ ]:
matrix = [[[1, 2], [3, 4, 6, 4, 6]], [[5,6], [7, 8]]]
print(matrix)
print(matrix[0][1][0])
# matrix[0] refers to the first element of the outermost list. matrix[0] refers to the first element of the outermost list. matrix[0][1][0] refers to the first element of this sublist, which is 3

[[[1, 2], [3, 4, 6, 4, 6]], [[5, 6], [7, 8]]]
3

In [ ]:
print(len(matrix))
print(len(matrix[0][1]))

2
5

####Lists Functions

In [ ]:
pets = ['cat', 'dog', 'parrot']
print(len(pets))
 # Printing the length of the list (number of elements in the list)

3

In [ ]:
print(pets)
pets.append('fish') # Adding 'fish' to the list of pets using the append() method
print(pets)

['cat', 'dog', 'parrot']
['cat', 'dog', 'parrot', 'fish']

In [ ]:
dir(pets)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
pets.insert(1, 'hamster')
print(pets)

['cat', 'hamster', 'hamster', 'dog', 'parrot', 'fish']

In [ ]:
print('cat' in pets)

True

In [ ]:
print('tiger' in pets)

False

In [ ]:
pets.remove('fish')

In [ ]:
pets.remove(pets[3])

In [ ]:
pets.pop()

'dog'

In [ ]:
pets.pop(0)

'cat'

In [ ]:
pets = ['cat', 'dog', 'parrot']

In [ ]:
del pets[1]

In [ ]:
pets

['cat', 'parrot']

In [ ]:
pets.clear()

In [ ]:
pets

[]

In [ ]:
pets = None

#### Iterators

In [ ]:
my_cat = "Fluffy"
my_iterator = iter(my_cat)

In [ ]:
print(next(my_iterator))

F

In [ ]:
print(next(my_iterator))

l

In [ ]:
print(next(my_iterator))

u

####Tuples

In [ ]:
dinner = ('chicken', 'fries', 18)
print(dinner)
print(type(dinner))

('chicken', 'fries', 18)
<class 'tuple'>

In [ ]:
breakfast = ('eggs', )
print(breakfast)
print(type(breakfast))

('eggs',)
<class 'tuple'>

In [ ]:
lunch = ()
print(lunch)
print(type(lunch))

()
<class 'tuple'>

In [ ]:
dir(dinner)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
my_desk = ("laptop", "mouse", "paper", "pen")
print(my_desk[1])
print(my_desk[-1])

mouse
pen

In [ ]:
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [ ]:
print(my_desk[1:])

('mouse', 'paper', 'pen')

In [ ]:
my_desk = ("laptop", "mouse", "paper", "pen")
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [ ]:
new_desk = my_desk + ("coffee", )
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'coffee')
<class 'tuple'>

In [ ]:
my_desk_list = list(my_desk)

In [ ]:
my_desk_list.append("phone")
new_desk = tuple(my_desk_list)
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'phone')
<class 'tuple'>

In [ ]:
new_desk

('laptop', 'mouse', 'paper', 'pen', 'phone')

In [ ]:
type(new_desk)

tuple

In [ ]:
# new_desk.append('pencil')
new_desk = my_desk + ("pencil", )

#### Tupples use cases

In [ ]:
db = ('oracle', 'SQL')

In [ ]:
new_db = db + ('username', 'password')
print(new_db)
print(type(new_db))

('oracle', 'SQL', 'username', 'password')
<class 'tuple'>

In [ ]:
friend1 = ('Alex', 25, False)
friend2 = ('Diane', 23, False)
friend3 = ('Michael', 32, True)

In [ ]:
print(friend1)
print(friend2)
print(friend3)

('Alex', 25, False)
('Diane', 23, False)
('Michael', 32, True)

In [ ]:
friend2 = ("Erica",) + friend2[1:]
print(friend2)
print(type(friend2))

('Erica', 23, False)
<class 'tuple'>

####Tuples Functions

In [ ]:
my_desk = ('laptop', 'mouse', 'paper', 'pen')
print(len(my_desk))

4

In [ ]:
# del my_desk
print(my_desk)

('laptop', 'mouse', 'paper', 'pen')

In [ ]:
digits = (3, 7, 5, 6, 3, 5, 7, 6, 3, 2, 8, 6, 3, 5)
print(digits.count(3))
print(digits.count(5))

4
3

In [ ]:
print(digits.index(8))
print(digits.index(7))

10
1

#### Sets

In [ ]:
days = {"Mon", "Tue", "Wed", "Thu", "Fri", "Tue", "Tue"}

In [ ]:
type(days)

set

In [ ]:
print(days)

{'Wed', 'Thu', 'Tue', 'Mon', 'Fri'}

In [ ]:
days = set(days)

In [ ]:
days

{'Fri', 'Mon', 'Thu', 'Tue', 'Wed'}

In [ ]:
type(days)

set

In [ ]:
dir(days)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### Updating Sets

In [ ]:
days = {"Mon", "Tue", "Wed"}
days.add("Thu")
print(days)

{'Thu', 'Tue', 'Mon', 'Wed'}

In [ ]:
days.update(['Fri', 'Sat', 'Tue'])
print(days)

{'Mon', 'Sat', 'Wed', 'Tue', 'Thu', 'Fri'}

In [ ]:
days.remove('Mon')
print(days)

{'Sat', 'Wed', 'Tue', 'Thu', 'Fri'}

In [ ]:
days.pop()
print(days)

{'Wed', 'Tue', 'Thu', 'Fri'}

In [ ]:
days.clear()
print(days)

set()

In [ ]:
days

set()

In [ ]:
# del days
# print(days)

#### Dictionaries

In [ ]:
my_cat = {'name': 'Fluffy', 'age': 2,'color': 'black'}  # Creating a dictionary representing information about a cat

In [ ]:
type(my_cat)

dict

In [ ]:
dir(my_cat)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
print(my_cat['name'])

Fluffy

In [ ]:
print(my_cat.get('age'))

2

In [ ]:
print(my_cat.values())

dict_values(['Fluffy', 2, 'black'])

In [ ]:
print(my_cat.keys())

dict_keys(['name', 'age', 'color'])

In [ ]:
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black'}

In [ ]:
print(my_cat.items())

dict_items([('name', 'Fluffy'), ('age', 2), ('color', 'black')])

In [ ]:
print('name' in my_cat)

True

In [ ]:
print('fluffyness' in my_cat)

False

#### Updating Dictionaries functions

In [ ]:
print(my_cat) # Creating a dictionary representing a cat
my_cat['gender'] = 'male'# Printing the initial state of my_cat
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}
{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [ ]:
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [ ]:
my_cat.pop('color')
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'gender': 'male'}

In [ ]:
my_cat.popitem()
print(my_cat)

{'name': 'Fluffy', 'age': 2}

In [ ]:
# my_cat.clear()
# print(my_cat)

In [ ]:
# del my_cat['age']
# print(my_cat)

In [ ]:
my_cat['name'] = 'Fluffer'
print(my_cat)

{'name': 'Fluffer', 'age': 2}

#### Nesting Dictionaries

In [ ]:
family = {
    "child1": {
        'name': 'Alex',
        'year': 2004
    },

    'child2': {
        'name': 'Monica',
        'year': 2007
    }
}

In [ ]:
family

{'child1': {'name': 'Alex', 'year': 2004},
 'child2': {'name': 'Monica', 'year': 2007}}